//
   Created by youngkim on 2015. 9. 7..
html
    head
        title 캠퍼스:달
        meta(name='theme-color', content='#ffffff')
        meta(charset='utf-8')
        link(rel='icon', type='image/png', sizes='16x16', href='images/favicon-16x16.png')
        link(href='/stylesheets/reset.css', rel='stylesheet', type='text/css')
        link(href='/stylesheets/jquery.fullPage.css', rel='stylesheet', type='text/css')
        link(href='http://fonts.googleapis.com/css?family=Lato:300' rel='stylesheet' type='text/css')
        link(href='/stylesheets/main.css', rel='stylesheet', type='text/css')
        script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
        script(src='/javascripts/jquery.fullPage.min.js')
        script(src='/javascripts/main.js')
        script(src='/javascripts/catch-redirect.js')
    body
        #main
            #logo
                img#icon(src='/images/icon.png')
                img#title(src='/images/title.png')
            #link(onclick='window.open(\'http://www.facebook.com/campusdal\', \'_blank\');')
                | FACEBOOK
            ul#menu
                li.big(data-menuanchor='introduction')
                    a(href='#introduction')
                        | 캠달소개
                li.big(data-menuanchor='news')
                    a(href='#news')
                        | 언론보도
                li.big(data-menuanchor='instruction')
                    a(href='#instruction')
                        | 참여방법
                li.big(data-menuanchor='campus')
                    a(href='#campus')
                        | 참여대학
                li.big(data-menuanchor='cooperation')
                    a(href='#cooperation')
                        | 오픈신청
            #fullpage
                .section#section0
                    .content
                        #vision
                            span
                                | 캠퍼스:달은?
                            br
                            | "대학교 캠퍼스 특화 배달앱"
                        #vision-detail
                            | "학생들이 실제로 주문하는 음식점"
                            br
                            | "학교 안 까지 배달하는 음식점"
                        #info
                            | 캠퍼스:달은 위의 두 가지 기준으로 선별한 캠퍼스 주면 음식점을 모두 담고 있습니다.
                            br
                            | 저희는 음식점 업주, 소비자 모두에게 도움이 되는 배달앱 생태계를 통해
                            br
                            span
                                | "모두를 만족시키는 배달앱"
                            | &nbsp; 을 만들고자 합니다.
                        #download
                            .downloadLink(onclick='window.open(\'https://itunes.apple.com/kr/app/kaempeoseu-dal/id726115856?mt=8\', \'_blank\');')
                                | iPhone
                            .downloadLink(onclick='window.open(\'https://play.google.com/store/apps/details?id=com.lchpatners.shadal&hl=ko\', \'_blank\');')
                                | Android
                .section#section1
                    .content
                        .title
                            | - 언론보도
                        .news
                            a.newslink(href='http://news.kmib.co.kr/article/view.asp?arcid=0922916140&code=11131100&cp=nv', target='_blank')
                                | 배달앱 '수수료 갑질'에 뿔나 대학생들이 '착한 앱' 만들었다
                            .reference
                                | 국민일보  2015.01.13
                        .news
                            a.newslink(href='http://news.sbs.co.kr/news/endPage.do?news_id=N1002807185&plink=ORI&cooper=NAVER&plink=COPYPASTE&cooper=SBSNEWSEND', target='_blank')
                                | 학생들이 만든 '수수료 0원' 배달앱
                            .reference
                                | SBS 뉴스 2015.01.28
                        .news
                            a.newslink(href='https://www.imaso.co.kr/news/article_view.php?article_idx=20150209160306', target='_blank')
                                | 서울대 학생들이 만든 배달 앱 '샤달'...수수료 없는 배달 앱을 만든 이유
                            .reference
                                | 마이크로소프트웨어 2015.02.09
                        .news
                            a.newslink(href='http://www.bloter.net/archives/220382', target='_blank')
                                | “착한 배달 앱? 그냥 학생들이 필요해서 만든 건데요”
                            .reference
                                | 블로터 2015.02.13
                        .news
                            a.newslink(href='http://www.mt.co.kr/view/mtview.php?type=1&no=2015022614564244429&outlink=1', target='_blank')
                                | "서울대 무료 배달앱 '샤달' 입니다"
                            .reference
                                | 머니투데이 2015.03.10
                        .news
                            a.newslink(href='http://www.jobnjoy.com/portal/joylife/campus_life_view.jsp?nidx=63616&depth1=2&depth2=1&depth3=3', target='_blank')
                                | 캠퍼스 전용 배달 앱 ‘캠퍼스:달’…“전단지 줍는 일이 제일 힘들었어요”
                            .reference
                                | 캠퍼스잡앤조이 2015.03.13
                        .news
                            a.newslink(href='http://misfits.kr/6988', target='_blank')
                                | 이사회의 미스핏츠를 찾아서 - 6. 캠퍼스 배달 앱을 만들어 보자
                            .reference
                                | 미스핏츠 2015.04.02
                .section#section2
                    .content
                        .title
                            | - 참여방법
                        .description
                            | 현재 캠퍼스달에는&nbsp;
                            span
                                | 18개 대학 캠퍼스, 10개의 학생회&nbsp;
                            | 가 참여하고 있습니다.
                            br
                            | 서비스 운영 및 개발은 캠퍼스달팀이 담당하며,
                            br
                            | 참여대학에 각 학교 서버 계정을 발급하고, 자료 입력방법을 알려드립니다.
                            br
                            | 개별 캠퍼스에서는 별다른 비용이나 큰 어려움 없이 앱을 사용하실 수 있습니다.
                        .instruction
                            | 1. 캠퍼스 주변 음식점 정보를 캠달팀에게 보내주세요!
                            br
                            .detail
                                | - 엑셀파일을 전송하고 3~5일이내에 해당 캠퍼스 버전이 오픈됩니다
                            br
                            | 2. 캠퍼스달을 학생들에게 많이 알려주세요!
                            br
                            .detail
                                | - 앱에 관한 모든 피드백은 환영입니다
                            br
                            | 3. 끝! 즐겁게 사용합니다
                            br
                            .detail
                                | - 음식점 정보등의 수정이 필요할 경우, 제보해주시거나 직접 수정해주세요!
                .section#section3
                    .content
                        .title
                            | - 참여대학
                        .campusList.first
                            | 가톨릭대학교 성심캠퍼스
                            br
                            | 경희대학교 서울캠퍼스
                            br
                            | 고려대학교 서울캠퍼스
                            br
                            | 단국대학교 죽전캠퍼스
                            br
                            | 대구경북과학기술원(DGIST)
                            br
                            | 동국대학교 경주캠퍼스
                            br
                            | 상명대학교 서울캠퍼스
                            br
                            | 서강대학교 서울캠퍼스
                            br
                            | 서울과학기술대학교 서울캠퍼스
                        .campusList
                            | 서울대학교 관악캠퍼스
                            br
                            | 서울대학교 연건캠퍼스
                            br
                            | 서울여자대학교 서울캠퍼스
                            br
                            | 성균관대학교 혜화캠퍼스 (오픈준비 중)
                            br
                            | 연세대학교 국제캠퍼스
                            br
                            | 울산과학기술대학교(UNIST)
                            br
                            | 중앙대학교 서울캠퍼스
                            br
                            | 한국국제대학
                            br
                            | 한국영상대학교 세종캠퍼스
                .section#section4
                    .content
                        .title
                            | - 오픈신청
                        .form
                            .formCell
                                img(src='/images/campus.png')
                                input#campusName(placeholder='캠퍼스 이름')
                            .formCell
                                img(src='/images/contact.png')
                                input#contact(placeholder='연락처 (전화/이메일)')
                            .formCell
                                img(src='/images/invoice.png')
                                input#invoice(placeholder='요청사항 / 건의사항 / 하고싶은 말')
                            .type
                                .typeCell
                                    img#studentBox(src='/images/uncheck.png')
                                    span
                                        | 학생회 참여 신청
                                .typeCell
                                    img#associationBox(src='/images/uncheck.png')
                                    span
                                        | 우리 학교도 열어주세요 (학생)
                            #submitButton
                                | 오픈신청하기!
                        #submitPopup