#header ul li#introduction {
    border-bottom: 8px solid rgba(255, 127, 39, 0.8);
}

.content {
    margin-top: 200px;
}

#vision {
    width: 100%;
    height: 220px;
    margin-top: 20px;
    color: rgba(255, 127, 39, 0.9);
    font-size: 64px;
    text-align: center;
    line-height: 90px;
}

#vision .title {
    text-align: center;
    font-size: 46px;
    line-height: 80px;
    margin-bottom: 10px;
}

#vision-detail {
    width: 100%;
    height: 160px;
    margin-top: 10px;
    color: rgba(0, 0, 0, 0.5);
    font-size: 43px;
    text-align: center;
    line-height: 70px;
}

#info {
    width: 100%;
    height: 300px;
    margin-top: 50px;
    margin-bottom: 180px;
    color: rgba(0, 0, 0, 0.8);
    font-size: 38px;
    text-align: center;
    line-height: 70px;
}

#info span {
    font-size: 42px;
    color: rgba(255, 127, 39, 0.9);
    line-height: 70px;
}

#download {
    width: 100%;
}

#download .downloadLink {
    width: 420px;
    margin: 70px auto 0 auto;
    cursor: pointer;
}

#download .downloadLink img {
    width: 400px;
}