//
   Created by youngkim on 2015. 9. 10..

title 캠퍼스:달
meta(name='theme-color', content='#ffffff')
meta(charset='utf-8')
link(rel='icon', type='image/png', sizes='16x16', href='images/favicon-16x16.png')
link(href='/stylesheets/reset.css', rel='stylesheet', type='text/css')
link(href='http://fonts.googleapis.com/css?family=Lato:300' rel='stylesheet' type='text/css')
script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
link(href='/stylesheets/mobile-header.css', rel='stylesheet', type='text/css')