#header
    ul#tab
        li#introduction(onclick='location.href=\'/mobile\';')
            | 캠달소개
        li#news(onclick='location.href=\'/mobile/news\';')
            | 언론보도
        li#campus(onclick='location.href=\'/mobile/campus\';')
            | 참여대학
        li#coop(onclick='location.href=\'/mobile/cooperation\';')
            | 오픈신청
