//
   Created by youngkim on 2015. 9. 10..

html
    head
        include ../layout/header.jade
        link(href='/stylesheets/mobile-campus.css', rel='stylesheet', type='text/css')
    body
        include ../layout/nav.jade
        .content
            .title
                | - 참여방법
            .description
                | 현재 캠퍼스달에는&nbsp;
                span
                    | 18개 대학 캠퍼스, 10개의 학생회&nbsp;
                | 가 참여하고 있습니다.
                .divider
                | 서비스 운영 및 개발은 캠퍼스달팀이 담당하며, 참여대학에 각 학교 서버 계정을 발급하고, 자료 입력방법을 알려드립니다.
                .divider
                | 개별 캠퍼스에서는 별다른 비용이나 큰 어려움 없이 앱을 사용하실 수 있습니다.
            .instruction
                | 1. 캠퍼스 주변 음식점 정보를 캠달팀에게 보내주세요!
                br
                .detail
                    | - 엑셀파일을 전송하고 3~5일이내에 해당 캠퍼스 버전이 오픈됩니다
                br
                | 2. 캠퍼스달을 학생들에게 많이 알려주세요!
                br
                .detail
                    | - 앱에 관한 모든 피드백은 환영입니다
                br
                | 3. 끝! 즐겁게 사용합니다
                br
                .detail
                    | - 음식점 정보등의 수정이 필요할 경우, 제보해주시거나 직접 수정해주세요!
            .title
                | - 참여대학
            .campusList
                | 가톨릭대학교 성심캠퍼스
                br
                | 경희대학교 서울캠퍼스
                br
                | 고려대학교 서울캠퍼스
                br
                | 단국대학교 죽전캠퍼스
                br
                | 대구경북과학기술원(DGIST)
                br
                | 동국대학교 경주캠퍼스
                br
                | 상명대학교 서울캠퍼스
                br
                | 서강대학교 서울캠퍼스
                br
                | 서울과학기술대학교 서울캠퍼스
                br
                | 서울대학교 관악캠퍼스
                br
                | 서울대학교 연건캠퍼스
                br
                | 서울여자대학교 서울캠퍼스
                br
                | 성균관대학교 혜화캠퍼스 (오픈준비 중)
                br
                | 연세대학교 국제캠퍼스
                br
                | 울산과학기술대학교(UNIST)
                br
                | 중앙대학교 서울캠퍼스
                br
                | 한국국제대학
                br
                | 한국영상대학교 세종캠퍼스