//
   Created by youngkim on 2015. 9. 10..

html
    head
        include ../layout/header.jade
        link(href='/stylesheets/mobile-main.css', rel='stylesheet', type='text/css')
    body
        include ../layout/nav.jade