//
   Created by youngkim on 2015. 9. 10..

html
    head
        include ../layout/header.jade
        link(href='/stylesheets/mobile-news.css', rel='stylesheet', type='text/css')
    body
        include ../layout/nav.jade
        .content
            .title
                | - 언론보도
            .news
                a.newslink(href='http://news.kmib.co.kr/article/view.asp?arcid=0922916140&code=11131100&cp=nv', target='_blank')
                    | 배달앱 '수수료 갑질'에 뿔나 대학생들이 '착한 앱' 만들었다
                .reference
                    | 국민일보  2015.01.13
            .news
                a.newslink(href='http://news.sbs.co.kr/news/endPage.do?news_id=N1002807185&plink=ORI&cooper=NAVER&plink=COPYPASTE&cooper=SBSNEWSEND', target='_blank')
                    | 학생들이 만든 '수수료 0원' 배달앱
                .reference
                    | SBS 뉴스 2015.01.28
            .news
                a.newslink(href='https://www.imaso.co.kr/news/article_view.php?article_idx=20150209160306', target='_blank')
                    | 서울대 학생들이 만든 배달 앱 '샤달'...수수료 없는 배달 앱을 만든 이유
                .reference
                    | 마이크로소프트웨어 2015.02.09
            .news
                a.newslink(href='http://www.bloter.net/archives/220382', target='_blank')
                    | “착한 배달 앱? 그냥 학생들이 필요해서 만든 건데요”
                .reference
                    | 블로터 2015.02.13
            .news
                a.newslink(href='http://www.mt.co.kr/view/mtview.php?type=1&no=2015022614564244429&outlink=1', target='_blank')
                    | "서울대 무료 배달앱 '샤달' 입니다"
                .reference
                    | 머니투데이 2015.03.10
            .news
                a.newslink(href='http://www.jobnjoy.com/portal/joylife/campus_life_view.jsp?nidx=63616&depth1=2&depth2=1&depth3=3', target='_blank')
                    | 캠퍼스 전용 배달 앱 ‘캠퍼스:달’…“전단지 줍는 일이 제일 힘들었어요”
                .reference
                    | 캠퍼스잡앤조이 2015.03.13
            .news
                a.newslink(href='http://misfits.kr/6988', target='_blank')
                    | 이사회의 미스핏츠를 찾아서 - 6. 캠퍼스 배달 앱을 만들어 보자
                .reference
                    | 미스핏츠 2015.04.02